[submodule "extern/sdl-gpu"]
	path = extern/sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu.git
[submodule "extern/SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "extern/nanovg"]
	path = extern/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "extern/yoga"]
	path = extern/yoga
	url = https://github.com/facebook/yoga.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
